<!DOCTYPE html>
<html>

  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    
  </head>

<body>
  <div class="jumbotron jumbotron-fluid">
    <div class = "container text-center">
      <h1>Lorem ipsum dolor sit amet, consectetur</h1>
      
      <form> 
      
        <input type="button" onclick="alert('Email address sent!')" value="Click Me!">
        <input type="text" name="email" placeholder="Be the first to know. Enter your email">
        <input type="submit" value="I want to hear first">
        
      </form>
      
    </div>
  </div>
</body>
  
  
</html>