  <style>
    .jumbotron{
      position: relative;
      background-image: url("https://www.wallpaperflare.com/static/369/432/1022/line-blue-faded-background-wallpaper-preview.jpg");
      background-size: cover;
    }
    
    .icons{
      width: 800px;
      height: 900px;
     
    }
    
    .tria_left {
  position: absolute;
  top: 350px;
  left: 0;
  width: 100px;
  height: 100px;
    }
    
    .tria_right_top {
  position: absolute;
  top: 30px;
  right: 0;
  width: 60px;
  height: 60px;
    }
    
    .tria_right_bot {
  position: absolute;
  top: 400px;
  right: 0;
  width: 100px;
  height: 100px;
    }
  </style>